<article class="demo">
  <header>
    <h2>Ember Sortable</h2>
  </header>

  <main>
    <section class="vertical-demo">
      <h3>Vertical</h3>

      {{#sortable-group tagName="ol" onChange="update" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
            {{item}}
            <span class="handle" data-item="{{item}}">
              <span>&vArr;</span>
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

    <section class="horizontal-demo">
      <h3>Horizontal</h3>

      {{#sortable-group tagName="ol" direction="x" onChange="update" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group}}
            {{item-presenter item=item}}
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}

    </section>

    <section class="table-demo">
      <h3>Table</h3>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
          </tr>
        </thead>
        {{#sortable-group tagName="tbody" onChange="update" as |group|}}
          {{#each model.items as |item|}}
            {{#sortable-item tagName="tr" model=item group=group handle=".handle"}}
              <td><span class="handle" data-item="{{item}}">&vArr;</span></td>
              <td>{{item}}</td>
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      </table>
    </section>

    <section class="vertical-spacing-demo">
      <h3>Vertical with 15px spacing</h3>

      {{#sortable-group tagName="ol" onChange="update" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group spacing=15}}
            {{item}}
            <span class="handle" data-item="{{item}}">
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

    <section class="vertical-distance-demo">
      <h3>Vertical with distance set to 15</h3>

      {{#sortable-group tagName="ol" onChange="update" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group distance=15}}
            {{item}}
            <span class="handle" data-item="{{item}}">
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

    <section class="scrollable-demo">
      <h3>Scrollable</h3>

      <div class="sortable-container">
        {{#sortable-group tagName="ol" onChange="update" as |group|}}
          {{#each model.items as |item|}}
            {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
              {{item}}
              <span class="handle" data-item="{{item}}">
                <span>&vArr;</span>
              </span>
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      </div>
    </section>

    {{#if model.dragged}}
      <p>Just dragged {{model.dragged}}</p>
    {{/if}}
  </main>

  <footer>
    <p>
      <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
    </p>
  </footer>
</article>
